@import '~video-react/styles/scss/video-react';

.video {
  video {
    object-fit: cover;
    width: 100vw;
    height: 88vh !important;
    position: fixed;
    top: 10vh;
    left: 0;
  }
}

// @media (min-aspect-ratio: 16/9) {
//   .video {
//       width:100%;
//       height: auto;
//   }
// }

// @media (max-aspect-ratio: 16/9) {
//   .video { 
//       width:auto;
//       height: 100%;
//   }
// }



