

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  // align-items: center;
  /* justify-content: center; */
  // font-size: calc(10px + 2vmin);
  // padding: 1rem;
  .logo {
    height: 20vmin;
    // padding: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
  }
  .nav {
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
    box-shadow: 0 14px 20px -16px rgb(114, 112, 112);
    a {
      color: #fff;
      display: inline-block;
      padding: 1rem 2rem;
      text-decoration: none;
      letter-spacing: 0.5rem;
      font-weight: bolder;
      font-size: 2rem;
      &:hover {
        background-color: rgb(231, 228, 228);
        color: rgb(114, 112, 112);
      }
    }

  }
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
