
// colors

$grey: rgb(29, 28, 28);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  color: $grey;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Bigelow Rules', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
}

